@model List<MyApi.WebUI.Dtos.ResultCategoryDto>

@{
    Layout = null;
}

<link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />

<form method="post">
    <div class="container">
        <br /><br />
        <table class="table table-bordered">
            <tr>
                <th>#</th>
                <th>Kategori Adi</th>
                <th>Sil</th>
                <th>Güncelle</th>
            </tr>
            @foreach(var item in Model)
            {
                <tr>
                    <td>@item.CategoryId</td>
                    <td>@item.CategoryName</td>
                    <td><a href="/Categories/DeleteCategory/@item.CategoryId" class="btn btn-danger">Sil</a></td>
                    <td><a href="/Categories/UpdateCategory/@item.CategoryId" class="btn btn-success">Güncelle</a></td>
                </tr>
            }
        </table>
        <td><a href="/Categories/CreateCategory" class="btn btn-info">Yeni Kategori Girişi</a></td>
    </div>
</form>
